/*Global variables*/
:root {
    --white: #fff;
    --lightest-color: #f4f4f4;
    --lightest-transparent:rgba(233, 233, 233, 0.767);
    --dark-white: #ddd;
    --light-grey: rgba(146,146,146,0.45);
    --medium-grey: rgba(209,209,209,0.45);
    --medium-dark-grey: rgba(37,37,37,0.51);
    --dark-grey: rgba(0,0,0,0.58);
    --darker-grey: rgba(0,0,0,0.85);
    --burgundy: rgba(87,10,10,0.75);

    --font-titles:'Roboto', sans-serif;
    --font-titles:'Playfair Display', serif;
    --font-main: 'Roboto', sans-serif;

    --box-shadow-light: 0 0 1.25rem rgba(0,0,0,0.58);
    --box-shadow-dark: 0 0 1.25rem rgba(0,0,0,0.8);
    --box-shadow-small: 0 0 0.75rem rgba(0,0,0,0.4);
} 

h1 {font-family: var(--font-titles);
    font-size: calc(18px + 2vw);
    margin: 1vw 0}

#neighbourhood {position: absolute;
    font-family: var(--font-titles);
    font-size: calc(18px + 2.5vw);
    width: auto;
    margin: 0 0;
    padding: 0 2vw;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);z-index: 1000; /* To ensure the h2 is always on top */
    background-color: rgba(255, 255, 255, 0.7); /* Optional: To make the text more readable against the map background */
    border-radius: 5px; /* Optional: To round the corners of the background */
    overflow: hidden;
}

#map { height: 80vh;
        width:100vw;
        position: relative;}

#mapCrosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6vw;
    height: 6vw;
    background-color: transparent;
    pointer-events: none; /* Makes the crosshair non-interactive */
    transform: translate(-50%, -50%); /* This will center the crosshair */
    z-index: 999;
}

#mapCrosshair::before,
#mapCrosshair::after {
    content: '';
    position: absolute;
    background-color: black;
}

#mapCrosshair::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
}

#mapCrosshair::after {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
}


        

/*Media Query for phones */
@media (max-width: 767px) { }